// Color
$darkBlue: #1a5276;
$maron: #943126;
$rosy: #ec7063;
$lightRed: #f5b7b1 ;
$yellow: #f4d03f;
$grey: #7f8c8d;
$lightGrey: #e5e8e8;
$white: #f4f6f7;

// font size
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px