<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="stylesheets/style.min.css">

    <link rel="shortcut icon" href="images/ToDoListtit.png" type="image/x-icon" sizes="32x32">
    <title><%= title %></title>
</head>
<body>

    <!-- *Header -->
    <header class="header">
        <div class="overlay has-fade hide-for-dekstop"></div>
        <nav class="flex flex-jc-sb flex-ai-c ">
            <a href="#">
                <img src="images/ToDoList.svg" alt="ToDoList">
            </a>

            <a id="btnHumberger" class="header__toggle hide-for-dekstop" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="header__link hide-for-mobile">
                <a href="">Feature</a>
                <a href="">Apps</a>
                <a href="">Help Center</a>
            </div>
            
            <div class="flex-jc-c hide-for-mobile">
                <div class="header__link">
                    <form>
                        <a href="">Login</a>
                        <button formaction="/register" class="btn header__cta">Daftar</button>
                    </form>
                </div>
            </div>
        </nav>
        
        <div class="header__menu has-fade hide-for-dekstop">
            <a href="">Feature</a>
            <a href="">Apps</a>
            <a href="">Help Center</a>
            <a href="">Login</a>
            <a href="/register">Daftar</a>
        </div>
    </header>

    <!-- *Content -->
    <section class="home container">
        <div class="home__image"></div>
        <div class="home__text">
            <h1>
                ToDoList fetures manage Yours life
            </h1>
            <p>
                ToDoList is some App for yours planning, wich can help in manage yours planning just structure, fine, and good
                come Let's using this App for manage better yours life.
            </p>
            <a class="btn" href="#">Get Started</a>
        </div>
    </section>

    <section class="home container">
        <div class="home__image-one"></div>
        <div class="home__text-one">
            <h1>
                Organize for all planning
            </h1>
            <p>
                Do you have many goals at achieve?. ToDoList can help to you reach goals in yours planning.
            </p>
        </div>
    </section>
    
    <section class="home container">
        <div class="home__image-two"></div>
        <div class="home__text-two">
            <h1>
                Get alarm for reminds you at anytimes, anywhere
            </h1>
            <p>
                Set a reminder to ease your mind off worrying about missing deadlines from now on.
            </p>
        </div>
    </section>

    <!-- *Footer -->
    <footer class="footer">
        <ul class="flex flex-jc-c image">
            <li><img src="images/linkedin.svg" alt="linkedin"></li>
            <li><img src="images/twiter.svg" alt="twiter"></li>
            <li><img src="images/github.svg" alt="github"></li>
            <li><img src="images/whatsapp.svg" alt="whatsapp"></li>
        </ul>
        <ul class="flex flex-jc-c text">
            <li>About</li>
            <li>Blog</li>
            <li>Contact US</li>
        </ul>
        <div class="flex flex-jc-c">
            <h5>RiefDev &copy; 2021</h5>
        </div>
    </footer>

    <!-- *javascript -->
    <script src="javascripts/script.js"></script>
</body>
</html>