<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="stylesheets/style.min.css">

    <link rel="shortcut icon" href="images/ToDoList_32x32.png" type="image/x-icon" sizes="32x32">
    <title><%= title %> </title>
</head>
<body>
    <div class="register">
        <div class="register__container">
            <img src="images/ToDoList.svg" alt="">
            <h2>Sign Up</h2>
            
            <form class="register__form" action="">
                <input class="register__form--input-text" type="text" name="username" id="" placeholder="username">
                <span></span>
                <input class="register__form--input-text" type="email" name="email" id="" placeholder="email">
                <span></span>
            </form>
        </div>
    </div>

    <!-- *Script JS -->
    <script src="javascripts/register.js"></script>
</body>
</html>